html {
  box-sizing: border-box;
  font-family: $main-font-family, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

form {
  margin: 0;
}
