$font-weight-regular: 400;
$font-weight-bold: 700;

$main-font-family: 'Roboto';

$color-blue: #286efa;
$color-white-1: #fff;
$color-white-2: #f9f9f9;
$color-white-3: #ededed;
$color-gray-1: #aaa;
$color-gray-2: #777;
$color-gray-3: #333;
$color-red: #f53c3c;

$login-container-width: 1800px;
